<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronPython" version="2.7.3" targetFramework="net35" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net35" />
  <package id="Mannex" version="2.7.1" targetFramework="net35" />
  <package id="Fizzler" version="1.0.0-beta2" targetFramework="net35" />
  <package id="Fizzler.Systems.HtmlAgilityPack" version="1.0.0-beta2" targetFramework="net35" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net35" />
</packages>